

@model Bus

<div class="container shadow py-5">

    <div class="row">
        <h1 class="display-4 mt-5 mb-0"> Neuer Bus Erstellen </h1>
        <hr class="mt-0 mb-5 bg-black">
    </div>

    <div class="row">
        &nbsp;
    </div>

    <form asp-action="Create"  id="BusForm">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-4">

                <label asp-for="BusName"></label>
                <input type="text" class="form-control" asp-for="BusName">
                <span asp-validation-for="BusName" class="text-danger"></span>


            </div>
            <div class="col-4">
                <label asp-for="StartZiel"></label>
                <input type="text" class="form-control" asp-for="StartZiel">
                <span asp-validation-for="StartZiel" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="EndZiel"></label>
                <input type="text" class="form-control" asp-for="EndZiel">
                <span asp-validation-for="EndZiel" class="text-danger"></span>
            </div>
        </div>


        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-4">

                <label asp-for="Image"></label>
                <input type="text" class="form-control" asp-for="Image">
                <span asp-validation-for="Image" class="text-danger"></span>


            </div>
            <div class="col-4">
                <label asp-for="KlimaAnlage"></label>
                <input type="checkbox" class="form-check-input" asp-for="KlimaAnlage">
                <span asp-validation-for="KlimaAnlage" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="Unterhaltung"></label>
                <input type="checkbox" class="form-check-input" asp-for="Unterhaltung">
                <span asp-validation-for="Unterhaltung" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-4">

                <label asp-for="AbfahrtsZeit"></label>
                <input type="time" class="form-control" asp-for="AbfahrtsZeit" step="1">
                <span asp-validation-for="AbfahrtsZeit" class="text-danger"></span>


            </div>
            <div class="col-4">

                <label asp-for="BusCategory"></label>
                <select type="text" class="form-control" asp-for="BusCategory" asp-items="Html.GetEnumSelectList<BusCategory>()">
                    <option value="">wahlen Sie ein BusCategory aus</option>
                </select>
                <span asp-validation-for="BusCategory" class="text-danger"></span>


            </div>





            <div class="col-4">
                <label asp-for="Fahrer"></label>
                <span asp-validation-for="FahrerId" class="text-danger"></span>
             
               <select id="FahrerAuswahlen" asp-for="FahrerId" class="form-control">
            <option value="">Wahlen Sie ein Fahrer aus</option>
            @if (ViewBag.FahrerListes != null)
            {
                @foreach (var obj in ViewBag.FahrerListes)
                {
                    <option value="@obj.FahrerId">@obj.FahrerName</option>
                }
            }
        </select>


            </div>



        </div>

        <div class="row">
            &nbsp;
        </div>


        <div class="form-group">
            <input type="submit" value="Erstellen" class="btn btn-outline-success float-right" />
            <a class="btn btn-primary" asp-action="List">Zuruck to Listes</a>
        </div>

    </form>








</div>

